.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  height: 100% !important;
  width: 100% !important;
}

.profilePic {
  min-width: 150px !important;
  max-width: 30% !important;
}

@media screen and (min-width: 768px) {
  .profilePic {
    min-width: 120px !important;
    max-width: 70% !important;
  } 
}